.navbar{
    background: #fff;
    background-color: #fff !important;
    box-shadow: 2px 0px 6px #d0d0d0;
    padding: 0px;
}
.navbrand{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
}
.navbar_navs{
    font-size: 2rem;
}
.navbar_navsarea{
    justify-content: space-between;
}
.navbar_navs_link{
    text-align: center;
    color: black !important;
    font-size: 1rem;
    padding: 1.2rem 1rem !important;
    font-weight: bold;
    border-bottom: 3px solid #fff;
}
.navIconBtn{
    min-width: 45px;
    margin: 0px 5px;
    border-color: transparent;
}
.userNavLink > a{
    padding: 1rem 1rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.userNavLink > div{
    width: 100%;
}
.userNavLink > a::after{
    /* display: none; */
}
.userNavDropdown{
    display: inline-flex;
    align-items: center;
}
.userNavDropdownImgDiv{
    border-radius: 50%;
    padding: 0rem 0.5rem;
}
.userNavDropdownImgDiv > img{
    height: 2.3rem;
    width: 2.3rem;
}
.userNavDropdownNameDiv{
    font-weight: bold;
}
.userNavDropdownNameItem{
    font-weight: bold;
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1365px){
    .userNavDropdownNameDiv{
        display: none;
    }
    .userNavDropdownNameItem{
        display: initial;
    }
}