.card{
    border: 0px;
    min-width: 330px;
    width: 30vw;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(163,177,191,.35);
}
.loginCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logoArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 100px;
}
#logoImg > img{
    height: 50px;
    width: auto;
}
#logoText {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -1px;
}
.cardTitle{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.submitButtonDiv{
    text-align: center;
}