.cardHolder{
    background: rgb(249 249 249);
    /* min-width: 330px;
    width: 50vw;
    max-width: 400px; */
    min-height: 200px;
    box-shadow: 0 8px 24px rgba(163,177,191,.35);
    border-radius: 10px;
    padding: 1rem;
    min-width: 300px;
    width: max-content;
}
.cardTitle{
    font-size: 1rem;
    text-align: center;
}
.cloudServiceCard{
    background: rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(163,177,191,.35);
    margin: 1rem 1rem;
}
.connectServiceHeader{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}
.connectServiceCardsGroup{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.cloudServiceCard{
    box-shadow: 0 8px 24px rgba(163,177,191,.35);
}
.imgDiv > img{
    width: 150px;
    height: auto;
} 