html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* line-height: 1.6;
  font-size: 18px; */
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button{
    min-width: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.container-fluid{
    background: #f3fbff;
    min-height: 100vh;
}

/* navbar styles */
.nav-link.active{
  border-bottom: 3px solid rgb(68, 162, 224);
}
.navbar-toggler{
  min-width: initial ;
  margin-right: 10px;
}